<div class="form-group mt-3">
    <input 
    [formControl]="searchControl"
    type="text"
    class="form-control"
    placeholder="Search Products Here">
</div>

<hr>
 <div class="row" *ngIf="productsArr.length >0">
    <div class="col-md-4 mb-4" *ngFor="let products of productsArr">
        <div class="card h-100">
            <div class="card-header">
                <h2 class="m-0">
                    {{products.title}}
                </h2>
            </div>
            <div class="card-body">
                <img [src]="products.images[0]" alt="" class="img-fluid">
            </div>
        </div>
    </div>
 </div>


